/* * configuração para todo o layout */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #FFF;
    color: black;
}

.products,
.collection{
    display: flex;
    flex-direction: row; /*um ao lado do outro, ou colun para coluna*/
    gap: 16px; /*margem*/
    margin: 32px 0;
    justify-content: center;
}

.personalizei{
    color: #DE6564 ;
}