footer{
    background-color: #DE6564;
    padding: 48px 0;
    color: #FFF;
}

footer h5{
    margin: 0 0 32px 48px;
}

footer ul{
    list-style: none;
    margin-left: 16px;
}

footer li a{
    color: #FFF;
    text-decoration: none;
}

footer li a:hover{
    color: #6f3232;
    text-decoration: wavy;
}